body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
}

#gif-wrap {
  position: absolute;
	top: 25%;
	bottom: 25%;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
  z-index: -1;
}

#daily-dose {
  font-size: 2rem;
}
.container {
  color: aliceblue;
  text-align: center;
}

#submit_container {
  position: absolute;
  right: 40%;
}

#submit_button {
  background-color: #3aacc3;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}

#submit_button:hover {
  background-color: #308c9f;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
  font-family: 'Raleway', sans-serif;
  background: #000;
}
.list-choice{
  width:600px;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  color: aliceblue;  
  text-align: center;
}
.list-choice input[type="radio"]{
  position:absolute;
  left:-9999px;
}

.list-choice-title {
width: 100%;
display: block;
background: #D8D8D8;
text-align: center;
padding: 0.55em 1em;
box-sizing: border-box;
color: #FFF;
text-shadow: 0 1px 0 #CACACA;
border-radius: 0.2em;
}
.list-choice:hover .list-choice-title {
border-radius:0.2em 0.2em 0 0;
}
.list-choice-objects label:nth-last-of-type(1) span{
  border-radius:0 0 0.2em 0.2em;
}
.list-choice input[type="radio"] + span {
color: rgb(44, 44, 44);
background: #D8D8D8;
padding: 0.55em 1em;
display: block;
text-align: center;
box-sizing: border-box;
cursor: pointer;
width: 100%;
}
.list-choice-objects {
position: absolute;
padding-top: 2.1em;
box-sizing: border-box;
width: 100%;
overflow: hidden;
max-height: 0;
transition: all 250ms ease;
font-size: 1.5rem;
}
.list-choice:hover .list-choice-objects  input[type="radio"] + span {
position: relative;
top: 0;
transition: all 250ms ease-in-out;
}
.list-choice:hover input[type="radio"] + span:hover {
background:#BBB;
}
.list-choice:hover input[type="radio"]:checked + span:hover {
background:#74D68E;
}
.list-choice input[type="radio"]:checked + span {
background: #74D68E;
position: absolute;
top: 0em;
border-radius: 0.2em;
}
.list-choice:hover input[type="radio"]:checked + span {
border-radius: 0;
}
.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
  border-radius:0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
max-height: 540px;
}